@model IEnumerable<NCAAFootballPlayoffs.Models.Season>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeasonYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestrictPicksDate)
        </th>
        <th>
            Excel
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestrictPicksDate)
        </td>
        <td>
            @Html.ActionLink("Get Brackets In Excel", "SeasonPicksToExcel", new { seasonID = item.SeasonID})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeasonID })
        </td>
    </tr>
}

</table>
