@model NCAAFootballPlayoffs.Models.ViewModels.BracketViewModel

@{
    ViewBag.Title = "Bracket";
}

<div id="loadingDiv" style="text-align:center; margin-top:30px">
    <hr />
    <p>Loading...</p>
    <hr />
</div>
@Html.Partial("_GameModal")
@Html.Partial("_BonusQuestionModal")

<div id="gamesDiv" class="row" style="height: calc(100vh - 75px); background-color:#fff; visibility:hidden">
    <div class="col-md-9 col-xs-12" style="overflow-y:scroll; height:calc(100vh - 75px)">
        <div class="row title-bar">
            <div class="col-md-6">
                <span class="title" data-bind="text: $root.SeasonYear"></span>
            </div>
            <div class="col-md-6" style="text-align:right" data-bind="visible: $root.isAdmin">
                @*<button class="btn btn-default" data-bind="">Add Game</button>*@
                <button class="btn btn-default" data-toggle="modal" data-target=".bd-example-modal-lg">Add Game</button>
                <button class="btn btn-default" data-toggle="modal" data-target=".bd-example-modal-2">Add Bonus Question</button>
            </div>
        </div>
        <div data-bind="foreach: $root.games" class="row center-all">
            @Html.Partial("_Game")
        </div>
        <hr />
        <div data-bind="foreach: $root.bonusQuestions" class="row center-all">
            @Html.Partial("_BonusQuestion")
        </div>
    </div>
    <div class="col-md-3 col-xs-12" style="height: calc(100vh - 75px); background-color:#d2d2d2">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="background-color:#f2f2f2; margin-top: 15px; border-radius: 3px; text-align:center">
                <div>
                    <div style="padding-top:10px">
                        <b>Game picks remaining: <span data-bind="text: $root.games().length - $root.pickMadeCount()"></span></b>
                    </div>
                    <hr />
                    <div>
                        <b>Sure picks remaining: <span data-bind="text: 3 - $root.surePickCount()"></span></b>
                    </div>
                    <hr />
                    <div style="padding-bottom:20px">
                        <b>Bonus question picks remaining: <span data-bind="text: $root.bonusQuestions().length - $root.questionPickMadeCount()"></span></b>
                    </div>
                    <hr style="padding-bottom:40px"/>
                    <div style="position:absolute; bottom:10px; right:25%; width:50%">
                        <div class="btn btn-success" data-bind="click: $root.submitBracket">Save Bracket</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/CSS/Bracket.css" rel="stylesheet" />
<script src="~/Models/KnockoutModels/Bracket/BracketViewModel.js"></script>
<script type="text/javascript">
    //bad. this is for testing
    var vm;
    $(function () {
        var model = @Html.Raw(Json.Encode(Model));
        vm = new BracketViewModel(model);
        vm.loadAjax();
    });
</script>