<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/Home.css" rel="stylesheet" />
    @*<link href="~/Content/alertify.bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/alertify.core.css" rel="stylesheet" />
    <link href="~/Content/alertify.default.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Javascript/knockout-3.4.0.js"></script>
    <script src="~/Content/Javascript/knockout-Mapping.js"></script>
    <script src="~/Content/Javascript/moment.js"></script>
    <script src="~/Content/Javascript/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/Javascript/KnockoutBindingHandlers/datetimepickerKO.js"></script>
    <script src="~/Content/Javascript/alertify.js"></script>
    @*@Styles.Render("~/Content/Less/less");*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("NCAA Bracket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-title" })
            </div>
            <div class="navbar-header" style="float: right">
                @if (Session["loginEmail"] == null)
                {
                    @Html.ActionLink("Sign In", "SignIn", "UserAccount", new { area = "" }, new { @class = "navbar-brand-float-right navbar-subtitle", @style = "" })
                }
                else {
                    @Html.ActionLink("Sign Out", "SignOut", "UserAccount", new { area = "" }, new { @class = "navbar-brand-float-right navbar-subtitle", @style = "" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        
        <footer>
        </footer>
    </div>
    <div class="container footer">
        <div class="row">
            <hr />
            <br />
            <div class="col-sm-12">@DateTime.Now.Year - Aaron Scherer</div>
        </div>
    </div>
</body>
</html>